.mainDiv{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin:80px auto;
  


   table{
        
        max-height: 60%;
        width: 60%;
        margin-bottom: 15px;
        border-radius: 10px;
        background-color: white;
        border: 10px solid #F7F7F7;
        overflow-y: scroll;
    &::-webkit-scrollbar {width: 0;}
        


        .title{
            padding: 10px;
            th{
                padding: 15px;
               
                font-size: large;
            }
        }

        .item{
            td{
                text-align: center;
                padding: 10px;
                text-transform: capitalize;
                button{
                    cursor: pointer;
                }
            }
        }
   }

   .add-btn{
        border:1px solid black;
        background: linear-gradient(to bottom, #ffffff 0%,#EFEFEF 100%);
        border: 1px solid #D8D8D8;
        box-shadow: 0 0 10px rgb(0 0 0 / 14%);
        border-radius: 5px;
        padding: 15px;
        margin-top: 15px;
        font-weight: 600;
        cursor: pointer;
    &:hover{
        background: linear-gradient(to bottom, #ffffff 0%,#EFEFEF 1%);
    }
    }

}

.modal{
   
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 60%;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    


    h2{ 
        font-size: 35px;
        margin-bottom: 35px;
    }

    input{
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 8px;
    }

    .btn-div{
        display: flex;
        gap:25px;

        button{
            margin-top: 27px;
            flex: 1;
            cursor: pointer;
            padding: 10px;
            font-size: 20px;
            border-radius: 5px;
            
        }
        .add-btn{
            background: green;
        }
        .close-btn{
            background-color: red;
        }
    }
}

.transparan{
    opacity: 0.2;
}

img{
    width: 15px;
    opacity: 0.7;
&:hover{
    opacity: 1;
    
}    
}
.buttons{
    display: flex;
    gap: 15px;
    align-items:center;
    justify-content: center;
}